name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scala: [2.13.x, 3.8.x]
        java: [8, 17]
        exclude:
          - scala: 3.8.x
            java: 8
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: ${{matrix.java}}
        cache: sbt
    - uses: sbt/setup-sbt@v1
    - run: sbt ++${{matrix.scala}} test
